.about {
  padding: 4rem;
  border-bottom: 1px solid #f8f6f6;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .image-container {
      flex: 1;
      box-shadow: 0 8px 16px rgb(255, 255, 255);
      width: inherit;
      height: inherit;

      img {
        max-width:600px;
        height: auto;
        border-radius: 8px;
      }
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgb(255, 255, 255);
      }
    }

    .text-content {
      flex: 1;

      h2 {
        font-size: 65px;
        color: #ffffff;
        margin-bottom: 1rem;
      }

      p {
        font-size: 20px;
        color: #ffffff;
        line-height: 1.5;
      }
    }
  }
}
