.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg, #6f13ad 0%, #010132 100%);
  overflow-x: hidden;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (min-width: 768px) {
  .home-container > * {
    width: 80%;
    background: linear-gradient(270deg, #6f13ad 0%, #010132 100%);
  }
}
