body {
  background: linear-gradient(270deg, #010132 100%, #723c8d 15%);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
body.chakra-ui-light {
  background: linear-gradient(270deg, #010132 100%, #723c8d 15%);
}
.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10%);
  width: 90%;
  max-width: 250px;
  height: auto;
  z-index: 10;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  margin: 100px auto auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Adjusted box-shadow */
  width: 100%;
  max-width: 400px;

  h2 {
    color: #ffffff;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    input[type="mail"],
    input[type="password"] {
      width: 90%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        outline: none;
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 12px;
      margin: 0;
      background-color: #af0213;
      color: white;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#af0213, 10%);
      }

      &:disabled {
        background-color: lighten(#af0213, 10%);
        cursor: not-allowed;
      }
    }
  }

  .error-message {
    color: #dc3545;
    text-align: center;
    margin-top: 1rem;
  }

  .register-link {
    margin-top: 1rem;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .login-container {
    margin: 50px auto;
    padding: 1rem;
  }
  .logo-container {
    display: none;
  }
}
