body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../../img/arc_en_ciel_avec_fond_svg.svg') no-repeat left center fixed;
    background-size: contain;
    height: 100%;
    width: 99%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* Espacement pour les côtés */
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Largeur initiale */
    height: 100px; /* Hauteur initiale */
    border-radius: 50%; /* Rend la div ronde */
    font-size: 30px; /* Taille de la police */
    color: white;
    font-weight: bold;
    margin: 10px;
}