.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: linear-gradient(270deg, #010132 100%, #6f13ad 0%);
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 90px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.7);
  margin: 20px 20px;




&:hover {
    transform: scale(1.0);
  }

  .nav-logo {
    input[type="file"] {
      display: none; // Masquer l'input de type fichier
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer; // Ajouter un curseur pointer pour indiquer que l'image est cliquable
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-left: 20px;

      input {
        display: none; // Masquer les inputs pour les liens
      }

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
      }
    }
  }
  .input-field {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
  }

  .add-link-form,
  .update-logo-form {
    margin-top: 10px;

    input {
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background-color: #6f13ad;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #4a087c;
      }
    }
  }
}
